@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <div class="container">

        <div class="text-center jumbotron">
            <h1 class="display-4">Encontrando Amigos</h1>

        </div>

        <div class="row">
            <div class="col-md-12">

                <form>
                    <label for="Pesquisa" class="form-control">Selecione  o amigo atual</label>
                    <select name="Pesquisa" id="Pesquisa" class="form-control" onclick="BuscarProximos();">
                        <option value="0">Selecione</option>
                    </select>

                </form>
            </div>

        </div>
        <div class="row" style="margin-top:2%;">
            <div class="col-md-12">
                <table id="AmigosTable" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width:10%;">#</th>
                            <th scope="col" style="width:70%;">Nome</th>
                            <th scope="col" style="width:20%;">Distancia</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Ana</td>
                            <td>1000</td>

                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
        <p>Atenção ao ajustar a connection string, pois para demosntrar diversas tecnologias tive de colocar a conexao da api no repositorio <br> deixei uma api demo feitra em EF core. Possui identity core com authorization</p>
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {


        CarregaAmigos();


    });

    function BuscarProximos() {
        var dropDown = document.getElementById("Pesquisa");
        var Id = dropDown.options[dropDown.selectedIndex].value;
        $('#AmigosTable tbody').empty();

        $.ajax({
            type: "GET",
            url: "http://localhost:52940/api/pesquisa/",
            data: { 'Id': Id },
            success: function (data) {
                console.log(data);
                // Parse the returned json data
                //var opts = $.parseJSON(data);
                // Use jQuery's each to iterate over the opts value
                $.each(data, function (i, d) {

                    $('#AmigosTable tbody').append('<TR><TD>' + d.id + '</TD><TD>' + d.nome + '</TD><TD>' + d.distancia + '</TD></TR>');
                });
            },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  console.log(XMLHttpRequest);
                  console.log(textStatus);
                  console.log(errorThrown);

              }
        });

    }



    function CarregaAmigos() {
        $('#Pesquisa').empty().append('<option value=0>Selecione </option>');

        var dropDown = document.getElementById("Pesquisa");
        var Id = dropDown.options[dropDown.selectedIndex].value;
        $.ajax({
            type: "GET",
            url: "http://localhost:52940/api/amigos",
            success: function (data) {
                console.log(data);
                // Parse the returned json data
               // var opts = $.parseJSON(data);
                // Use jQuery's each to iterate over the opts value
                $.each(data, function (i, d) {

                    $('#Pesquisa').append('<option value="' + d.id + '">' + d.nome + '</option>');
                });
            },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  console.log(XMLHttpRequest);
                  console.log(textStatus);
                  console.log(errorThrown);

              }
        });


    }

</script>


@*function myFunction(obj)
    {
      $('#emptyDropdown').empty()
      var dropDown = document.getElementById("carId");
      var carId = dropDown.options[dropDown.selectedIndex].value;
      $.ajax({
              type: "POST",
              url: "/project/main/getcars",
              data: { 'carId': carId  },
              success: function(data){
                  // Parse the returned json data
                  var opts = $.parseJSON(data);
                  // Use jQuery's each to iterate over the opts value
                  $.each(opts, function(i, d) {
                      // You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
                      $('#emptyDropdown').append('<option value="' + d.ModelID + '">' + d.ModelName + '</option>');
                  });
              }
          });
    }


     function fetchAllReceipts(documentShareId) {

          console.log('http call: ' + uri + "/" + documentShareId)
          $.ajax({
              url: uri + "/" + documentShareId,
              type: "GET",
              contentType: "application/json;",
              cache: false,
              success: function (receipts) {
                  //console.log(receipts);

                  $(receipts).each(function (index, item) {
                      console.log(item);
                      //console.log(receipts[index]);

                      $('#receipts tbody').append(
                          '<tr><td>' + item.Firstname + ' ' + item.Lastname +
                          '</td><td>' + item.TransactionId +
                          '</td><td>' + item.Amount +
                          '</td><td>' + item.Status +
                          '</td></tr>'
                      )

                  });


              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  console.log(XMLHttpRequest);
                  console.log(textStatus);
                  console.log(errorThrown);

              }

          });
      }















*@